body {
    background-color: #f4f4f4;
}

.main-container {
    margin-top: 1rem;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom: 5rem;
    @media screen and (max-width: 960px) {
        margin-top: 1.5rem;
        margin-right: 1rem;
        margin-left: 1rem;
        margin-bottom: 3rem;
    }
}

.weather-card {
    max-width: 250px;
    transition: max-width 150ms;
    margin-bottom: 1rem;
}

.weather-card:hover {
    max-width: 248px;
}

.img-center{
    margin: 0 auto;
    display: flex;
 }

 .header-image{
    background-size: cover;
 }

 .button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }